In [1]:
import pandas as pd

df = pd.read_csv('GlobalTemps1880-2022.csv')
df

,Unnamed: 0,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,J-D,D-N,DJF,MAM,JJA,SON
0,0,1881,-0.19,-0.14,0.03,0.05,0.06,-0.18,0.00,-0.04,-0.15,-0.22,-0.18,-0.07,-0.09,-0.10,-0.17,0.05,-0.07,-0.19
1,1,1882,0.16,0.14,0.04,-0.17,-0.15,-0.23,-0.16,-0.07,-0.14,-0.24,-0.17,-0.36,-0.11,-0.09,0.08,-0.09,-0.15,-0.18
2,2,1883,-0.29,-0.37,-0.12,-0.18,-0.17,-0.08,-0.06,-0.14,-0.21,-0.11,-0.23,-0.11,-0.17,-0.19,-0.34,-0.16,-0.09,-0.18
3,3,1884,-0.13,-0.08,-0.36,-0.40,-0.34,-0.36,-0.30,-0.27,-0.27,-0.25,-0.33,-0.31,-0.28,-0.27,-0.11,-0.36,-0.31,-0.29
4,4,1885,-0.58,-0.34,-0.27,-0.42,-0.45,-0.43,-0.34,-0.31,-0.29,-0.24,-0.24,-0.11,-0.33,-0.35,-0.41,-0.38,-0.36,-0.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,137,2018,0.82,0.85,0.88,0.89,0.82,0.77,0.83,0.77,0.80,1.02,0.82,0.91,0.85,0.85,0.87,0.87,0.79,0.88
138,138,2019,0.93,0.95,1.17,1.02,0.85,0.90,0.94,0.95,0.93,1.01,0.99,1.09,0.98,0.96,0.93,1.01,0.93,0.98
139,139,2020,1.17,1.24,1.17,1.13,1.02,0.92,0.90,0.87,0.99,0.89,1.10,0.81,1.02,1.04,1.17,1.11,0.90,0.99
140,140,2021,0.81,0.64,0.89,0.75,0.78,0.84,0.92,0.82,0.93,1.00,0.94,0.86,0.85,0.84,0.76,0.81,0.86,0.95
141,141,2022,0.91,0.89,1.05,0.84,0.84,0.92,0.94,0.95,0.90,0.97,0.73,0.79,0.89,0.90,0.89,0.91,0.94,0.86